<a href="https://colab.research.google.com/github/Mithra-py/python_workshop/blob/main/Pythonbasic13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in [1, 2, 3, 4, 5]:
  print(i)

1
2
3
4
5

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in ["happy"]:
  print(i)

happy

In [ ]:
seasons = "autumn", "summer", "winter", "spring"

for season in seasons:
  print(season)

autumn
summer
winter
spring

In [ ]:
for i in range(11):
  print(i, end = " ")

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
names= "Ahmet", "Mehmet", "Ramazan", "Erdem"

for name in names:
  print("Hello", name)

Hello Ahmet
Hello Mehmet
Hello Ramazan
Hello Erdem

In [ ]:
numbers = []

for i in range(1, 6):
  numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
course = 'matematik'

for i in course:
  print(i, end = " ")

m a t e m a t i k

In [ ]:
for i in course:
  print(i, end = "-")

m-a-t-e-m-a-t-i-k-

In [ ]:
word = input("Give me a word: ")
counter = 0

for i in word:
  counter += 1
  if counter < len(word):
    i = i + "-"
  print(i, end = "")

Give me a word: matematik
m-a-t-e-m-a-t-i-k

In [ ]:
user = {
    "name" : "Ahmet",
    "surname" : "Sait",
    "age" : 23
}
for kimlik in user:
  print(kimlik)

name
surname
age

In [ ]:
user = {
    "name" : "Ahmet",
    "surname" : "Sait",
    "age" : 23
}
for kimlik in user.values():
  print(kimlik, end = " ")

Ahmet Sait 23

In [ ]:
user = {
    "name" : "Ahmet",
    "surname" : "Sait",
    "age" : 23
}
for key, value in user.items():
  print(key, ":", value)

name : Ahmet
surname : Sait
age : 23

In [ ]:
test = [(1, 2), (3, 4), (5, 6)]

for i, j in test:
  print(i, j)

1 2
3 4
5 6

In [ ]:
times = int(input("How many times should Ä± say 'I love you'"))

for i in range(times):
  print('I love you')

How many times should Ä± say 'I love you'5
I love you
I love you
I love you
I love you
I love you

In [ ]:
number = int(input("Enter a number between 1-10: "))

for i in range(11):
  print("{}x{} = ".format(number, i), number * i)

Enter a number between 1-10: 7
7x0 =  0
7x1 =  7
7x2 =  14
7x3 =  21
7x4 =  28
7x5 =  35
7x6 =  42
7x7 =  49
7x8 =  56
7x9 =  63
7x10 =  70

In [ ]:
for i in range(1, 10):
  print (str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
print(*range(5))

0 1 2 3 4

In [ ]:
print(*range(5, 25, 2))

5 7 9 11 13 15 17 19 21 23

In [ ]:
print(*range(10, 1, -1))

10 9 8 7 6 5 4 3 2

In [ ]:
print(*"bilgisayar")

b i l g i s a y a r

In [ ]:
text = ("one", "two", "three", "four")
numbers = (1, 2, 3, 4)

for x, y in zip(text, numbers):
  print(x, ":", y)

one : 1
two : 2
three : 3
four : 4

In [ ]:
text = ("one", "two", "three", "four")
numbers = (1, 2, 3, 4)
zipped = zip(text, numbers)

In [ ]:
zipped

In [ ]:
print(* zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4)

In [ ]:
evens = []
odds = []

for n in range(10):
  
  if n % 2 == 0:
    evens.append(n)
  else:
    odds.append(n)

print("evens : ", evens)
print("odds : ", odds)

evens :  [0, 2, 4, 6, 8]
odds :  [1, 3, 5, 7, 9]

In [ ]:
numbers = (11, 23, 14, 16, 29, 38, 42, 15, 33)

In [ ]:
odds = 0
evens = 0

for i in numbers:

  if i % 2 == 0:
    evens += 1
  else:
    odds += 1

print("evens count: ", evens)
print("odds count: ", odds)

evens count:  4
odds count:  5